.block {
  margin: 124px 0;

  &__header {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 12px;

    &-product {
      display: flex;
      align-items: center;
      column-gap: 8px;
      padding: 18px;
      background: #fff;
      border-radius: 12px;
      transition: 0.2s;
      cursor: pointer;
    }

    &-product:hover {
      color: #fff;
      background: orange;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;

    &-product {
      width: 392px;
      background: #fffcfc;

      .block__image {
        position: relative;

        &-icon {
          position: absolute;
          top: 16px;
          right: -15px;
          z-index: 99;
        }

        div {
          position: absolute;
          top: 12px;
          left: 8px;
        }
      }

      .block__about {
        padding: 24px;
        position: relative;

        &-mass {
          display: flex;
          align-items: center;

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            color: #b7b7b7;
          }

          div {
            width: 4px;
            height: 4px;
            background: #e07153;
            border-radius: 50%;
            margin: 0 8px;
          }
        }

        &-name {
          font-weight: 600;
          font-size: 24px;
          line-height: normal;
          color: #1b1b1b;
          margin-top: 4px;
        }

        &-text {
          font-weight: 400;
          font-size: 14px;
          line-height: normal;
          color: #000;
          margin-top: 4px;
          height: 57px;
        }

        &-size {
          position: absolute;
          top: 20px;
          right: 24px;
          display: flex;
          align-items: center;

          p {
            padding: 4px 8px;
            background: #f5f5f5;
            border-radius: 4px;
            font-weight: 600;
            font-size: 14px;
            line-height: normal;
            color: #b7b7b7;
            cursor: pointer;
            transition: 0.5s;
          }

          p:hover {
            background: #e07153;
            color: #fff;
          }

          div {
            width: 4px;
            height: 4px;
            background: #e07153;
            border-radius: 50%;
            margin: 0 4px;
          }

          span {
            position: absolute;
            margin-left: 83px;
            margin-bottom: 40px;
            font-weight: 600;
            font-size: 12px;
            line-height: normal;
            color: #b7b7b7;
          }
        }

        &-footer {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-text {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #000;

            p:nth-of-type(1) {
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #b7b7b7;
            }

            .line {
              content: "";
              border: 1px solid #b7b7b7;
              width: 35px;
              margin-top: -10px;
            }
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 63px;

    &-left {
      display: flex;
      align-items: center;

      p {
        margin: 0 16px;
        cursor: pointer;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      column-gap: 16px;
      cursor: pointer;

      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: normal;
        color: #e07153;
      }
    }
  }
}

.button {
  border: none;
  outline: none;
  padding: 13px 59px;
  background: #e07153;
  background-image: url("../../../assets/images/back.png");
  border-radius: 1px;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #fff;
  cursor: pointer;
}
