.block {
  margin-top: 40px;

  &__return-home {
    display: flex;
    align-items: center;
    column-gap: 16px;
    cursor: pointer;

    h2 {
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
      color: #000;
    }
  }

  &__line {
    content: "";
    width: 100%;
    border: 1px solid #e2e1e1;
    margin: 50px 0;
  }

  &__product {
    display: flex;
    align-items: center;
    margin-top: 50px;

    &-image {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 12px;

      img {
        border: 1px solid #e2e1e1;
        width: 570px;
        height: 372px;
      }

      div {
        width: 56px;
        height: 56px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px;
        padding: 20px 13px;
        cursor: pointer;
      }

      &-left {
        position: absolute;
        margin-left: -28px;
      }

      &-right {
        position: absolute;
        right: -28px;
      }
    }

    &-about {
      width: 531px;
      height: 370px;
      margin-left: 82px;

      &-name {
        font-weight: 600;
        font-size: 40px;
        line-height: normal;
        color: #000;
      }

      &-mass {
        margin-top: 23px;
        font-weight: 600;
        font-size: 14px;
        line-height: normal;
        color: #000;

        span {
          font-weight: 400;
        }
      }

      &-compound {
        margin-top: 8px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #e2e1e1;

        .about {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 6px;
          padding: 9px 0;
          margin: 0 auto;
          width: 132px;

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            color: #000;
          }

          span {
            font-weight: 600;
            font-size: 14px;
            line-height: normal;
            color: #000;
          }
        }

        .line {
          border: 1px solid #e2e1e1;
          height: 40px;
        }
      }

      &-deliver {
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-top: 24px;

        .time {
          display: flex;
          align-items: center;
          column-gap: 12px;

          h2 {
            font-weight: 500;
            font-size: 14px;
            line-height: normal;
            color: #000;
          }
        }

        .block {
          margin-top: -0px;
          cursor: pointer;
        }

        .conditions {
          font-weight: 500;
          font-size: 14px;
          line-height: normal;
          color: #c95c3f;
        }

        .line {
          border: 1px solid #c95c3f;
          width: 117px;
        }
      }

      &-filling {
        margin-top: 23px;

        h2 {
          font-weight: 600;
          font-size: 14px;
          line-height: normal;
          color: #000;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: normal;
          color: #000;
          margin-top: 2px;
        }
      }

      &-footer {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price {
          flex-direction: column;
          font-weight: 700;
          font-size: 32px;
          line-height: normal;
          color: #000;

          span {
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            color: #b7b7b7;
          }

          .line {
            content: "";
            border: 1px solid #b7b7b7;
            width: 35px;
            margin-top: -12px;
          }
        }

        .count {
          display: flex;
          align-items: center;
          column-gap: 16px;
          border: 1px solid #e2e1e1;
          border-radius: 8px;
          padding: 8px 12px;
          margin-left: 55px;

          p {
            color: #e07153;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__water {
    h1 {
      margin-bottom: 40px;
    }

    &-products {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-product {
      width: 392px;
      background: #fafafa;

      .block {
        padding: 24px;
      }

      &-about {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: normal;
          color: #b7b7b7;
        }

        h1 {
          font-weight: 600;
          font-size: 24px;
          line-height: normal;
          color: #000;
        }
      }

      &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price {
          flex-direction: column;
          font-weight: 700;
          font-size: 32px;
          line-height: normal;
          color: #000;

          span {
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            color: #b7b7b7;
          }

          .line {
            content: "";
            border: 1px solid #b7b7b7;
            width: 35px;
            margin-top: -12px;
          }
        }
      }
    }
  }

  &__recommend {
    margin-top: 100px;

    h1 {
      font-weight: 600;
      font-size: 40px;
      line-height: normal;
      color: #000;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
    }
  }

  &__list-product {
    padding: 12px;
    background: #fafafa;
    border-radius: 6px;
    width: 392px;

    .img {
      display: flex;
      position: relative;

      img {
        margin-left: -65px;
      }

      p {
        font-weight: 700;
        font-size: 12px;
        line-height: normal;
        color: #000;
      }

      &__position {
        position: absolute;
        top: 16px;
        right: -30px;
      }
    }

    .text {
        margin-top: 30px;

        &__mass {
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            color: #B7B7B7;
            display: flex;
            align-items: center;

            div {
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #E07153;
                margin: 0 8px;
            }
        }

        &__name {
            font-weight: 600;
            font-size: 24px;
            line-height: normal;
            color: #000;
        }

        &__filling {
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            color: #000;
        }
    }

    .price {
        margin-top: 30px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .price {
            flex-direction: column;
            font-weight: 700;
            font-size: 32px;
            line-height: normal;
            color: #000;
            
            span {
                font-weight: 400;
                font-size: 14px;
                line-height: normal;
                color: #B7B7B7;
            }

            .line {
                content: '';
                border: 1px solid #B7B7B7;
                width: 35px;
                margin-top: -8px;
            }
        }
    }
  }

  &__review {
    margin: 80px 0;
    width: 100%;
    background: #fafafa;
    padding: 48px 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;

    &-first {
        display: flex;
        align-items: center;
        column-gap: 16px;
        
        div {
          align-items: center;
        }

        h1 {
            font-weight: 600;
            font-size: 24px;
            line-height: normal;
            color: #000;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: normal;
            color: #000;
            margin-top: 5px;
        }
    }

    &-second {
        width: 172px;
        height: 172px;
        border-radius: 50%;
        padding: 74px 13px;
        background: #E07153;
        background-image: url('../../assets/images/back.png');
        font-weight: 700;
        font-size: 18px;
        line-height: normal;
        color: #FFF;
        cursor: pointer;
        position: absolute;
        right: 64px;
    }
  }

  &__reviews-first {

    .line {
      content: '';
      border: 1px solid #E2E1E1;
      width: 100%;
      margin: 40px 0;
    }

    &-review {
      display: flex;
      justify-content: space-between;
      align-items: start;

      .name {
        display: flex;
        align-items: center;
        column-gap: 12px;

        .logo {
          width: 44px;
          height: 44px;
          background: #C1DDFF;
          border-radius: 50%;
          padding: 14px 13px; 
          font-weight: 500;
          font-size: 14px;
          line-height: normal;
          color: #77A6FF;
        }

        h1 {
          font-weight: 600;
          font-size: 16px;
          line-height: normal;
          color: #000;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: normal;
          color: #000;
          margin-top: 8px;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        div {
          align-items: center;
        }

        p {
          width: 703px;
          font-weight: 400;
          font-size: 16px;
          line-height: normal;
          color: #000;
        }
      }
    }
    
  }

  &__reviews-second {
    
    .line {
      content: '';
      border: 1px solid #E2E1E1;
      width: 100%;
      margin: 40px 0;
    }

    &-review {
      display: flex;
      align-items: start;
      justify-content: space-between;

      .name {
        display: flex;
        align-items: center;
        column-gap: 12px;

        .logo {
          width: 44px;
          height: 44px;
          background: #FBD2FF;
          border-radius: 50%;
          padding: 15px 10px; 
          font-weight: 500;
          font-size: 14px;
          line-height: normal;
          color: #BF8EE8;
        }

        h1 {
          font-weight: 600;
          font-size: 16px;
          line-height: normal;
          color: #000;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: normal;
          color: #000;
          margin-top: 8px;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: normal;
          color: #000;
        }
      }
    }
  }
}
