* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Open-sans', sans-serif;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.asd {
    width: 100%;
    height: 83px;
    background: #F5F5F5;
    position: absolute;
    z-index: -99;
    margin-top: 99px;
}