.button {
    border: none;
    outline: none;
    padding: 13px 59px;
    background: #E07153;
    background-image: url('../../../assets/images/back.png');
    border-radius: 1px;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    color: #FFF;
    cursor: pointer;
}